/web/apple-touch-icon.png
/web/images/
/web/media/
/web/bundles
/web/config.php
/web/css/bootstrap.css.map
/web/css/bootstrap-theme.css.map
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.htaccess
/web/.htaccess
/src/.htaccess
/vendor/.htaccess
/bin/.htaccess
/app/.htaccess
