/web/bundles/
/web/images/
/web/media/
/web/apple-touch-icon.png
/web/config.php
/web/.htaccess
/src/.htaccess
/vendor/.htaccess
/bin/.htaccess
/app/.htaccess
.htaccess
/app/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/var/logs/*
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
*.php~
app/test.db

*.cache
