{% extends "AppBundle:Default:index.html.twig" %}
{% block content %}
<div class="container" style="padding-top:70px">
<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About</h1>
                <h3>Hi, my name is Felix (or Feliksas Mažeikis, if You prefer full Lithuanian version) and I'm self taught programmer.
                	This website was pretty much an side effect of my Symfony 2 framework studies. It uses <a href="http://symfony.com/">Symfony<a> with <a href="http://www.doctrine-project.org/">Doctrine</a> for back end, <a href="http://getbootstrap.com">Bootstrap 3</a>
                	for the front end and modified templates from the <a href="http://startbootstrap.com/">Start Bootstrap</a>.
                	As all of this is still work in progress, I apologize if something isn't working as intended, but on the bright side - 
                	don't worry if You manage to break something. :)
            </div>
        </div>
	<div class="row">
           <div class="col-md-8">
                <h3>Space for the contact form</h3>
            </div>
            <div class="col-md-4">
                <h3>My details</h3>
                <ul>
                    <li>First Name: Feliksas</li>
                    <li>Last Name: Mažeikis</li>
                    <li>Age: 29</li>
                    <li>Interests: Cars, Computers, Video Games, DIY and all things geeky ands mechanical.</li>
                </ul>
            </div>
        </div>
</div>
{% endblock %}