{% extends "AppBundle:Default:index.html.twig" %}
{% block content %}
<div class="container-fluid">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}