{% block subject 'sandbox testing'  %}

{% block body_text %}
FIRST TEST LINE
----

{% block mail_text '' %}
 http://127.0.0.1:8000/app_dev.php/user/reset/{{link}}
----
THIS WAS A TEST EMAIL, PLEASE IGNORE
{% endblock %}

{% block body_html %}
<h1>VARDENIS pavardenis</h1>
<hr />
{% block mail_html '' %}
<hr />
<p>siuntejo titulai</p>
{% endblock %}