{% extends "AppBundle:Default:index.html.twig" %}
{% block content %}
<div class="container" style="padding-top:70px">
<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About</h1>
                <h3>wall of text </h3>
            </div>
        </div>
	<div class="row">
           <div class="col-md-8">
                <h3>Space for the contact form</h3>
            </div>
            <div class="col-md-4">
                <h3>My details</h3>
                <ul>
                    <li>First Name: Feliksas</li>
                    <li>Last Name: Mažeikis</li>
                    <li>Age: 29</li>
                    <li>Interests: Cars, Computers, Video Games, DIY and all things geeky ands mechanical.</li>
                </ul>
            </div>
        </div>
</div>
{% endblock %}