{% extends "AppBundle:Twig:layout.html.twig" %}
{% block style %}
{% spaceless %}
    {{parent()}}
    {% endspaceless %}
{% endblock %}
{% block content %}
<div class="container" style="padding-top:70px">
    <div class="row">
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
            <div class="col-lg-12">
                <h1 class="page-header">About This Page</h1>
                <h5>This website was made with <a href="http://symfony.com/">Symfony 2</a> PHP framework. For managing back end data <a href="https://www.mysql.com/">MySQL</a> database and <a href="http://www.doctrine-project.org/">Doctrine 2</a> Object relational mapper (ORM) were used. Front end is glued together with <a href="http://twig.sensiolabs.org/">Twig</a> template engine, <a href="http://getbootstrap.com/">Bootstrap v3</a> CSS framework and <a href="https://jquery.com/">jQuery</a> with some free templates. Image caching and resizing to thumbnails is being done with the help of <a href="https://github.com/liip/LiipImagineBundle">LiipImagineBundle</a> and gallery pagination is done with <a href="https://github.com/whiteoctober/WhiteOctoberPagerfantaBundle">WhiteOctoberPagerfantaBundle</a>. The sourcecode is available at github.</h5>
                <br>
                <br>
            </div>
        </div>
	<div class="row">
            <div class="col-md-6">
                {% if form is defined %}
                <h4>Contact form</h4>
                <div class="contact-form">
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h4>My details</h4>
                <br>
                <ul>
                    <li>First Name: Feliksas</li>
                    <li>Last Name: Mažeikis</li>
                    <li>Age: 29</li>
                    <li>Interests: Cars, Computers, Video Games, DIY and all things geeky ands mechanical.</li>
                </ul>
            </div>
        </div>
</div>
{% endblock %}
