{% extends "AppBundle:Twig:layout.html.twig" %}
{% block content %}
<div class="container" style="padding-top:70px">
    <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-header">User registration
                        <small>You know the drill - just fill out the form</small>
                    </h1>
                </div>
            </div>
     <div class="row">
        <div class="col-xs-12">
            {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
            {{ form(form, { 'class': 'form-horizontal', 'label_col': 4, 'widget_col': 4, 'col_size': 'sm' }) }}
    	</div>
    </div>
</div>
{% endblock %}
