{% extends "AppBundle:Twig:layout.html.twig" %}
{% block content %}
<div class="container" style="padding-top: 70px">
	<br>
        <div class="row">
            <div class="col-lg-12">
            {% if requestForm is defined %}
            	<h1>Enter username.
            		<small>If You can't remember it, tough luck.</small></h1><br><br>
                {{ form(requestForm, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 4, 'col_size': 'sm' }) }}
            {% elseif submitForm is defined %}
                <h1>Enter new password!
                		<small>The safer - the better.</small></h1><br><br>
                {{ form(submitForm, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 4, 'col_size': 'sm' }) }}
            {% endif %}
            </div>
        </div>
</div>
{% endblock %}
