{% extends "AppBundle:Twig:layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
<div class="container" style="padding-top:70px">
<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Image Upload
                    <small>Less than 4MB in size, safe for work only.</small>
                </h1>
            </div>
        </div>
{% if form is defined %}
<div class="row">
    <div class="col-md-5">
		{% if not is_granted('IS_AUTHENTICATED_FULLY') %}LOGIN{% endif %}
		{% if app.user.enabled == true %}
		{% block form_row %}
  			{{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
  			<fieldset>
				{{ form_widget(form) }}
			</fieldset>
			{{ form_end(form) }}
			{% endblock form_row %}
	</div>
</div>
{% else %}
<H1>Please verify Your account before uploading!</h1>
{% endif %}
{% endif %}
</div>
{% endblock %}
